<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.smart.recycler"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".modules.SimpleApp"
        tools:replace="android:icon,android:theme,android:label"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BaseUseActivity"/>
        <activity android:name=".PullUpDownActivity"/>
        <activity android:name=".DragnDropActivity"/>
        <activity android:name=".DragnDropGridActivity"/>
        <activity android:name=".demo.loader.LoaderAudioActivity"/>
        <activity android:name=".demo.AudioPlayActivity"/>
        <activity android:name=".demo.SingleAudioServiceActivity"/>
        <activity android:name=".demo.MultiAudioServiceActivity"/>
        <activity android:name=".demo.loader.LoaderVideoActivity"/>
        <activity android:name=".AnimActivity"/>
        <activity android:name=".SearchViewActivity"/>
        <activity android:name=".MultiItemActivity"/>
        <activity android:name=".HeaderFooterActivity"/>
        <activity android:name=".SwipeRefreshViewActivity"/>
        <activity android:name=".modules.swipe.SwipeRefreshViewKtActivity"/>
        <activity android:name=".gallery.GalleryActivity" />
        <activity android:name=".RvBindingActivity" />

        <service android:name=".demo.AudioStreamService"
                 android:enabled="true"
                 android:exported="true"
                 android:process=":remote"/>

    </application>

</manifest>